node_modules/
/test-results/
playwright-report
playwright-report/*
/playwright-report/*
/playwright-report/
/playwright-report/index.html
/playwright-report/*.html
/blob-report/
/playwright/.cache/
.auth
.auth/user.json
tests/VisualTesting/*-snapshots/
/screenshots/
*.png

/data/requestMparticleUrls.json
/data/requestUrls.json
